* {
    margin: 0;
    box-sizing: border-box;
}

h1 {
    font-family: 'Acme', sans-serif;
}

#indexBody {
    background-image: url(coffeeTitle.jpeg);

}

#index {
    margin-top: 20%;
    margin-left: 5%;
    font-size: 800%;
    color: blanchedalmond;
    text-shadow: 6pt 5pt 5pt black;
}

button {
    margin-right: 10%;
    margin-top: 5%;
    color: black;
    float: right;
    padding: 1% 4%;
    background: rgba(0, 0, 0, .7);
    font-size: 300%;
}

a {
    text-decoration: none;
    color: blanchedalmond;
}

#title {
    margin: 0;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: left;
    padding-left: 2%;
    /* background: antiquewhite; */
    /* background: url(titleCoffee.jpeg); */
    font-size: 500%;
    color: peru;
    background-size: cover;
    background-repeat: no-repeat;
    font-weight: bold;

}

#titleOpacity {
    display: flex;
    justify-content: space-between;
    margin: 1%;
}

nav {
    display: flex;
    justify-content: space-around;
    background: peru;
    list-style-type: none;
    padding: 2% 0%;
    font-size: 150%;
    font-weight: bold;
    z-index: 1;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

nav a:hover {
    background: chocolate;
    padding: 20pt 10%;
    text-decoration: none;
}

#menu li a {
    color: black;
}

body {
    background: rgba(210, 105, 30, .1);
    z-index: -1;
}


p,
h3 {
    margin: 0% 20%;
    line-height: 120%;
    font-size: 125%;
}

h3 {
    padding-top: 3%;
}

span.locations {
    display: inline-block;
    margin-left: 25%;
    font-size: 150%;
}

.subHeader {
    font-size: 200%;
    text-align: center;
    padding: 5% 0;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    /* float: right; */
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram {
    background: #3B5998;
    color: white;
}

.text-container {
    position: absolute;
    bottom: 10%;
    background-color: black;
    color: white;
    padding-bottom: 10%;
    opacity: .7;
}

.carouselInner {
    position: relative;
}

/* .carousel-inner>.item>img,
.carousel-inner>.item>a>img {
    display: block;
    height: 500pt;
    min-width: 100%;
    width: 100%;
    max-width: 100%;
    line-height: 1;
} */

form {
    margin: 10% 25%;
    border: solid peru;
    padding: 5%;
    background: peru;
    padding-bottom: 10%;
}

#message {
    padding-bottom: 100pt;
}

input {
    width: 100%;
    padding: 2%;
    border: 1px solid chocolate;
    border-radius: 1%;
    margin-top: 3%;
    margin-bottom: 5%;
    resize: vertical;
}

#form button {
    margin: 0;
    width: 50%;
}

#locationSpace {
    margin-top: 2%;
}

@media(max-width: 530px) {
    span.locations {
        display: block;
        margin: 5% 2%;
        font-size: 150%;
    }

    .text-container {
        display: none;
    }

    .carousel-inner>.item>img,
    .carousel-inner>.item>a>img {
        margin-top: 1%;
    }

    .fa {
        padding: 10%;
        font-size: 150%;
        width: 20%;
        text-align: center;
        text-decoration: none;
        /* float: right; */
    }
}