body {
    margin-left: 350px;
    margin-right: 350px;
}
h1 {
    color: darkgreen;
}
h1, h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
p {
    line-height: 25px;
    margin-right: 80px;
}

a {
    text-decoration: none;
}
ul{
    align-content: left;
}
#uppercase {
    text-transform: uppercase;
}
a:hover {
    text-decoration-line: underline;
}
img {
    float: left;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 25px;
    width: 250px;
    height: 225px;
}