* {
    margin: 0;
    box-sizing: border-box;
}

body{
    margin: 5% 20%;
    background-color: ivory;
}
h1{
    margin-bottom: 5%;
}
#form{
    line-height: 200%;
    padding: 5% 20%;
    background-color: lightblue;
}